/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/*RESPONSIVE*/

@media screen and (max-width: 500px) {
  html{
    font-size: 12px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 25px;
  }
}

/* Nase CSS
 * --------------------------------------- */
/* BODY
 * --------------------------------------- */
body{
	font-family: courier new;
  background-color: #faf9f7;
}

.wrapper {
  display: flex, -webkit-flex;
  flex-direction: column;
  /*-webkit-overflow-scrolling: touch;*/
}

.section{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px red solid;
  flex-grow: 1;
}

.section-mrg {
  margin-bottom: 3em;
}

.content {
  display: flex -webkit-flex;
  flex-direction: column;
  justify-content: center;
  border: 1px green solid;
  max-width: 1000px;
}

.mt-3 {
  margin-top: 3em;
}

/* TITLES & TEXT
 * --------------------------------------- */

.titles {
    height: 50px;
}

h1{
	font-size: 3.5em;
  font-family: courier new;
  text-align: center;
  padding: 1em 1em 1em 1em;
}

.white {
   color: white;
}
p {
    padding: 0.6em 1em 0em 1em;
    line-height: 1.4em;
    font-family: courier new;
    font-size: 1.2em;
    color:#444;
    border: 1px black solid;
}
a {
  color: black;
}
.more {
    color: red;
    font-weight: 500;
}
h2 {
    font-size: 2em;
    padding: .5em .5em 0em .5em;
    line-height: 1.4em;
    font-weight: 500;
    font-family: courier new;
    color: #e31912;
    border: 1px black solid;
}
li {
  color:#444;
}

.dot-break {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 1px #bfb4ae dashed;
}

.borders {
    padding: 0 1.7em 0 1.7em;
}
.moreBorders {
    padding: 0 1.7em 0 1.7em;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;

}
/* SECTIONS SETTINGS
 * --------------------------------------- */

/*
.content p {
  text-align: left;
}
.content h2 {
  text-align: left;
}
.content h1 {
  text-align: center;
}
*/
#center {
    text-align:center;
    justify-content: center;
    align-items: center;
}

#section0 {
    background-image: url(img/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#profile {
  text-align:center;
  justify-content: center;
  align-items: center;
  align-self: center;
}
#profile h1 {
  padding: .5em 0em 0em 0em;
}
#profile img {
  padding: .5em 0em .5em 0em;
}
#profile p {
  text-align: left;
}
#education {

}
#workExperience {
}

#hobbies {
}
#bio {
   border-bottom: 2px black dashed;
   min-height: 100vh;
}
#blog {
    border-bottom: 2px black dashed;
    background-color: #bfb4ae;
    min-height: 100vh;
}
#projects {
    min-height: 100vh;
}

.profilPic {
    width: 100%;
    display: block;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#jakub {
    display: block;
    height: 100%;
    margin-bottom: 1em;
}
#getInTouch {
    background-size: cover;
    background-image: url(img/contact.jpg);
    background: brightness(50%);
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#getInTouch p {
  text-align: center;
}
/*.layer {
    background-color: rgba(51,51,51, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}*/
/* LOGOS & BUTTONS
 * --------------------------------------- */
#hlavniLogo {
    width: 400px;
}
.navLogo {
    height: 30px;
    width: 30px;
}
#intro {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#social {
    display: flex;
    flex-direction: row;
    z-index: 70;
    margin-top: 3em;
}

#btnIn, #btnCV, #btnMail, #btnBlog {
    border-bottom: 2px white solid;
    height: 50px;
    width: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: courier new;
    font-size: 1.5em;
    line-height: 3em;
    margin-right: 0.3em;
    margin-left: 0.3em;
}
#btnIn:hover {
    border-bottom: 2px #0066cc solid;
}
#btnCV:hover {
    border-bottom: 2px #5BADFF solid;
}
#btnMail:hover {
    border-bottom: 2px #f6546a solid;
}
#btnBlog:hover {
    border-bottom: 2px #c1ffc1 solid;
}
#btnClose {

}
#bottom {
    top: 50px;
    font-size: 1.2em;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.small {
    width: 80%;
    max-width: 600px;
    height: auto;
}
.smaller {
    width: 250px;
    height: auto;
}
.smallest {
    width: 150px;
    height: auto;
}
.freeBottom {
    padding-bottom: 3em;
}
/* MENU
 * --------------------------------------- */
#btnMenu {
    width: 13%;
    min-width: 100px;
    color: white;
    font-family: arial bold;
    font-size: 1.2em;
    display: block;
    position: fixed;
    z-index: 99999;
    right: 20px;
    top: 20px;
}
#sidr {
  /* Default Settings */
  display: none;
  position: fixed;
  top: 100px;
  height: 100%;
  z-index: 999999;
  width: 80%;
  overflow-x: none;
  overflow-y: scroll;
  /* Theme Settings */
  font-size: 1em;
  color: black;
}
#sidr a {
   color: black;
    font-family: courier new;
    font-size: 1.6em;
    padding: 0.25em .25em .25em .25em;
   margin: 1em;
    display: flex;
    flex-direction: column;
    line-height: 1em;
    border-bottom: 1.5px black solid;
    justify-content: center;
}
#sidr a:hover {
    border-bottom: 1.5px #43A16F dashed;
}
.right {
  left: auto;
  right: -260px;
}
#btnClose {
   border-bottom: 2px #fa8072 solid;
}
#btnClose:hover {
   background: #fa8072;
}

.socialMargin {
    margin-right: .5em;
}
