/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Nase CSS
 * --------------------------------------- */
/* BODY
 * --------------------------------------- */
body{
	font-family: courier new;
    font-size: 100%;
    width: 100%;
    min-width: 400px;
    background-color: #faf9f7;
    overflow-x: hidden;
}
.wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	position: relative;
}
.content {
    position: relative;
    display: block;
    z-index: 999;
    margin-bottom: 3em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

/* TITLES & TEXT
 * --------------------------------------- */

.titles {
    height: 50px;
}
h1{
	font-size: 3.5em;
    font-family: courier new;
    text-align: center;
    padding: 0 1em 0 1em;
}
.white {
   color: white;
}
p{
    padding: .6em 1em 0em 1em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em;
    font-family: courier new;
    text-align: center;
    font-size: 1.2em;
    color:#444;
    max-width: 700px;
}
a {
  color: black;
}
.more {
    color: red;
    font-weight: 500;
}
h2 {
    font-size: 2em;
    padding: .5em .5em 0em .5em;
    line-height: 1.1em;
    font-weight: 500;
    font-family: courier new;
    color: #e31912;
}
li {
  color:#444;
}

.dot-break {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 1px #bfb4ae dashed;
}

.borders {
    padding: 0 1.7em 0 1.7em;
}
.moreBorders {
    padding: 0 1.7em 0 1.7em;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}
/* SECTIONS SETTINGS
 * --------------------------------------- */
.section{
    background-color: #faf9f7;
    display: flex;
    position: relative;
    min-height: 700px;
    height: 100%;
}



.content p {
  text-align: left;
}
.content h2 {
  text-align: left;
}

#center {
    text-align:center;
    justify-content: center;
    align-items: center;
}

#section0 {
    background-image: url(img/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
#profile {

}
#education {

}
#workExperience {
}
#skills {
}
#hobbies {
}
#bio {
   border-bottom: 2px black dashed;
   height: 100vh;
}
#blog {
   border-bottom: 2px black dashed;
    background-color: #bfb4ae;
    height: 100vh;
}
#projects {
    height: 100vh;
}

.profilPic {
    width: 100%;
    display: block;
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#jakub {
    display: block;
   height: 100%;
    margin-bottom: 1em;
}
#getInTouch {
    background-size: cover;
    background-image: url(img/contact.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}
.layer {
    background-color: rgba(51,51,51, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* LOGOS & BUTTONS
 * --------------------------------------- */
#hlavniLogo {
    width: 400px;
}
.navLogo {
    height: 30px;
    width: 30px;
}
.together {
    display: block;
    text-align: center;
}
#social {
    display: inline-block;
    position: relative;
    z-index: 70;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}
#btnIn, #btnCV, #btnMail, #btnBlog {
    border-bottom: 2px white solid;
    height: 50px;
    width: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: courier new;
    font-size: 1.5em;
    line-height: 3em;
    margin-right: 0.3em;
    margin-left: 0.3em;
}
#btnIn:hover {
    border-bottom: 2px #0066cc solid;
}
#btnCV:hover {
    border-bottom: 2px #5BADFF solid;
}
#btnMail:hover {
    border-bottom: 2px #f6546a solid;
}
#btnBlog:hover {
    border-bottom: 2px #c1ffc1 solid;
}
#btnClose {

}
#bottom {
    top: 50px;
    font-size: 1.2em;
    position: relative;
}
.small {
    width: 500px;
    height: auto;
}
.smaller {
    width: 250px;
    height: auto;
}
.smallest {
    width: 150px;
    height: auto;
}
.freeBottom {
    padding-bottom: 3em;
}
/* MENU
 * --------------------------------------- */
#btnMenu {
    width: 13%;
    min-width: 100px;
    color: white;
    font-family: arial bold;
    font-size: 1.2em;
    display: block;
    position: fixed;
    z-index: 99999;
    right: 20px;
    top: 20px;
}
#sidr {
  /* Default Settings */
  display: none;
  position: fixed;
  top: 100px;
  height: 100%;
  z-index: 999999;
  width: 80%;
  overflow-x: none;
  overflow-y: scroll;
  /* Theme Settings */
  font-size: 1em;
  color: black;
}
#sidr a {
   color: black;
    font-family: courier new;
    font-size: 1.6em;
    padding: 0.25em .25em .25em .25em;
   margin: 1em;
    display: flex;
    flex-direction: column;
    line-height: 1em;
    border-bottom: 1.5px black solid;
    justify-content: center;
}
#sidr a:hover {
    border-bottom: 1.5px #43A16F dashed;
}
.right {
  left: auto;
  right: -260px;
}
#btnClose {
   border-bottom: 2px #fa8072 solid;
}
#btnClose:hover {
   background: #fa8072;
}

.socialMargin {
    margin-right: .5em;
}
