/* RESET CSS */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

table {
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
rem,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

caption,
th {
  text-align: left;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
  padding: 0;
  color: #444;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}


/* RESPONSIVE */

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 500px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 22px;
  }
}

img,
picture,
video {
  max-width: 100%;
}

/* ********** */
/* ********** */
/* ********** */
/* CUSTOM CSS */
/* ********** */
/* ********** */
/* ********** */

/* BODY */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FCF9ED;
  letter-spacing: 0.1rem;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.content {
  display: flex;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  /*margin: 1rem 0 1rem 0;*/
}


.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-item {
  margin: 1rem;
  justify-content: end;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ALIGNMENT */

.content-margin-top {
  margin-top: 140px;
}

.center-margin {
  margin-left: auto!important;
  margin-right: auto!important;
}

.align-self-center {
  align-self: center;
  text-align: center;
}

.align-self-right {
  align-self: end;
  text-align: right;
  margin-left: auto;
}

.align-self-left {
  text-align: left;
  align-self: start;
}

.no-padding {
  padding: 0;
}

#center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* TYPOGRAPHY */

p {
  text-align: justify;
  margin-bottom: 1rem;
  margin-top: 1rem;
  line-height: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-variant: normal;
  color: #373737
}

h1 {
  font-size: 3.5rem;
  line-height: 5rem;
  font-style: italic;
  text-transform: uppercase;
  font-variant: bolder;
  letter-spacing: 0.2rem;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: 200;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #193722;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-variant: lighter;
  color: #193722;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #193722;
}

h4 {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
  font-style: italic;
  max-width: 400px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #193722;
}

.white {
  color: white;
}

a {
  color: #373737;
  border-bottom: 1px #373737 solid;
}

a:hover {
  color: #43A16F!important;
  /*border-bottom: 1px #43A16F dashed!important;*/
}

ul > li {
  padding: 0;
  margin: 1rem 0 1rem 0;
  text-indent: 0;
}

li {
  color: #373737;
  padding: 0 2rem 0 2rem;
  margin: 0 2rem 0 2rem;
  text-indent: -1.35rem;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

/* SECTIONS */

#section0 {
  background-image: url(img/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section-nature {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 110vh;
  width: 100%;
  left: 0;
  bottom: 0;
  background-image: url(img/moss.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/* no longer used
.body-scroll {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
*/

/* IMAGES AND LOGOS */

#hlavniLogo {
  width: 400px;
}

.navLogo {
  height: 30px;
  width: 30px;
}

#bottom {
  top: 50px;
  font-size: 1.2rem;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small {
  width: 80%;
  max-width: 600px;
  height: auto;
  display: flex;
}

.smaller {
  width: 250px;
  height: auto;
  display: flex;
}

.smallest {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: flex;
}

.no-border {
  border: none!important;
}

/* MENU */

 .navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  height: 140px;
  width: 100%;
}

 #btnMenu {
  width: 3rem;
  min-width: 80px;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 100;
  padding: 2rem;
}

#btnMenu a:hover {
  border-bottom: none!important;
}

#sidr {
  /* Default Settings */
  display: none;
  position: fixed;
  top: 100px;
  height: 100%;
  z-index: 999999;
  width: 80%;
  overflow-x: none;
  overflow-y: scroll;
  /* Threme Settings */
  
}

#sidr a {
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2.5rem;
  margin: 0.5rem;
  letter-spacing: 0.1rem;
  font-variant: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  left: auto;
  right: -260px;
}